.game-board {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .center-piece {
    --offset-x: 0px;
    --offset-y: 0px;
    position: absolute;
    width: 5rem;
    height: 5rem;
    top: calc(calc(50vh - 2.5rem) - var(--offset-y));
    left: calc(calc(50vw - 2.5rem) - var(--offset-x));
  }
}