@use "sass:color";

$buttons: #a45fb9;
$color1: #ff0000;
$color2: #ffc800;
$color3: #fbff00;
$color4: #00ff00;
$color5: #0000ff;
$color6: #ff00ff;

@mixin button($bg) {
  background-color: $bg;
  box-shadow: 0 3px 0 0 color.scale($bg, $blackness: 100%);
  transition: .1s transform, .1s box-shadow, .1s background-color;

  &:hover {
    transform: translateY(1px);
    background-color: color.scale($bg, $blackness: 10%);
    box-shadow: 0 2px 0 0 color.scale($bg, $blackness: 100%);
  }

  &:active {
    transform: translateY(3px);
    box-shadow: 0 0 0 0 color.scale($bg, $blackness: 100%);
  }
}