@use "sass:color";
@use "sass:math";

$text-color: #efefef;
$color1: #e53434;
$color2: #f2a035;
$color3: #e8d939;
$color4: #64c553;
$color5: #569CD6;
$color6: #a45fb9;

@mixin button($bg) {
  background-color: $bg;
  box-shadow: 0 3px 0 0 color.scale($bg, $blackness: 50%);
  transition: .1s transform, .1s box-shadow, .1s background-color;

  &:hover {
    transform: translateY(1px);
    background-color: color.scale($bg, $blackness: 10%);
    box-shadow: 0 2px 0 0 color.scale($bg, $blackness: 50%);
  }

  &:active {
    transform: translateY(3px);
    box-shadow: 0 0 0 0 color.scale($bg, $blackness: 50%);
  }
}

@mixin loading() {
  color: transparent;
  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: calc(50% - 1rem);
    left: calc(50% - 1rem);
    height: 2rem;
    width: 2rem;
    color: $text-color;
    border-radius: 200000px;
    border: 3px solid color.adjust($text-color, $alpha: -.5);
    border-left: 3px solid $text-color;
    animation: spinner .75s linear infinite forwards;
  }
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

$back-arrow-width: 6px;
$back-arrow-half-width: math.div($back-arrow-width, 2);
$back-arrow-height: 18px;
$back-arrow-offset: math.div($back-arrow-height - $back-arrow-width, 2.828);

.back {
  @include button($color5);
  display: block;
  position: fixed;
  top: 1rem;
  left: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
  text-decoration: none;
  
  &::after, &::before {
    content: '';
    display: block;
    position: absolute;
    width: $back-arrow-width;
    border-radius: $back-arrow-half-width;
    height: $back-arrow-height;
    left: calc(50% - $back-arrow-half-width - $back-arrow-offset);
  }

  &.is-mobile {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 1rem 1rem 1rem 3rem;
    color: $text-color;
    vertical-align: middle;
    font-size: 1.25rem;

    &::after, &::before {
      left: 1rem;
    }
  }
  
  &::after {
    content: '';
    bottom: calc(50% - $back-arrow-half-width);
    background-color: $text-color;
    transform-origin: 50% calc(100% - $back-arrow-half-width);
    transform: rotate(45deg);
  }

  &::before {
    top: calc(50% - $back-arrow-half-width);
    background-color: $text-color;
    transform-origin: 50% $back-arrow-half-width;
    transform: rotate(315deg);
  }
}

.columns {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  margin: 0 auto;
  padding: 1rem 0;
  width: calc(960px - 4rem);
  height: 100%;

  .column {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    height: 100%;
    
    .column-body {
      flex: 1;
      overflow-y: auto;
    }
  }

  .column:not(:last-child) {
    margin: 0 2rem 0 0;
  }
}

@media (min-width: 961px), screen and (orientation: landscape) {
  .is-mobile {
    display: none;
  }
}

@media (max-width: 960px), screen and (orientation: portrait) {
  .columns {
    flex-flow: column nowrap;
    margin: 0 2rem;
    width: calc(100% - 4rem);

    .column:not(:last-child) {
      margin: 0 0 1rem 0;
      flex: 0;
    }
  }

  .is-desktop {
    display: none;
  }
}
