img.chevron {
  --rotation: 0deg;
  vertical-align: middle;
  height: .8em;
  width: .8em;
  margin: 0;
  transition: transform .25s;
  transform: rotate(var(--rotation));
}

:hover > img.chevron {
  transform: rotate(var(--rotation)) translateX(2px);
}
