a.section {
  text-decoration: none;
  color: inherit;
}

.section {
  background-color: #444444;
  box-shadow: 0 1px 3px 0 #00000066;
  overflow: hidden;

  h2 {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 1rem;
    background-color: #2C2C2C;
    user-select: none;
    font-size: 1.5em;

    .chevron {
      margin: 0 0 0 auto;
    }
  }

  .item {
    padding: .75rem;

    &:not(:last-child) {
      border-bottom: 1px solid rgb(87, 87, 87)
    }

    &.clickable:hover,
    &.clickable:focus-visible {
      background-color: rgba(124, 150, 216, 0.1);
    }

    &.super {
      padding: 0;
      max-height: 10rem;
      overflow-y: auto;

      & .item::before {
        padding: 0 .5rem 0 .25rem;
        content: '•';
      }
    }
  }

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}