@use "sass:math";
@import "_base";

.title.dash {
  margin: 2rem auto;
}

.control {
  display: flex;
  flex-flow: row nowrap;
}

.control input[type="text"] {
  display: flex;
  flex: 1;
  font-size: 1rem;
  padding: .5rem;
  border: 1px solid grey;
  box-shadow: inset 0 0 3px -1px;
  border-radius: 8px 0 0 8px;
  border-right: none;

  &:focus {
    outline: 1px solid black;
  }
}

label {
  display: block;
  font-weight: 500;
  margin-bottom: .5rem;
}

.control [type="submit"] {
  $background: #6278b6;

  display: inline-block;
  border-radius: 0 8px 8px 0;
  border: 1px solid grey;
  border-left: none;
  font-size: 1rem;
  color: $text-color;
  background-color: $background;

  &:hover {
    background-color: scale-color($background, $lightness: -10%);
  }

  &.loading {
    @include loading;
  }
}

.item.friend {
  display: flex;
  align-items: center;
  padding: 0 0 0 .75rem;
}

.item.red {
  color: #fa7e7e;
}

.item.friend .remove {
  color: #fa7e7e;
  margin: 0 0 0 auto;
  padding: .75rem;
  cursor: pointer;

  &:hover, &:focus-visible {
    background-color: rgba(#fa7e7e, .2);
  }
}

.item.friend .accept {
  color: #93fa7e;
  margin: 0 0 0 auto;
  padding: .75rem;
  cursor: pointer;

  & + .remove {
    margin: 0;
  }

  &:hover, &:focus-visible {
    background-color: rgba(#93fa7e, .2);
  }
}

.item.game {
  display: block;
  position: relative;
  text-decoration: none;
  color: inherit;

  &.indicated {
    background-color: rgba(181, 124, 216, 0.1);
  }

  .name {
    margin: 0 0 .5rem 0;
    font-weight: 500;
  }

  .players {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .indicator {
    position: absolute;
    top: 0;
    right: 0;
    padding: .5rem;
    font-size: .8em;
  }
}
