@import "_base";

.friend-control {
  display: flex;
  flex-flow: row nowrap;
}

.friend-input {
  display: flex;
  flex: 1;
  font-size: 1rem;
  padding: .5rem;
  border: 1px solid grey;
  box-shadow: inset 0 0 3px -1px;
  border-radius: 8px 0 0 8px;
  border-right: none;

  &:focus {
    outline: 1px solid black;
  }
}

.friend-submit {
  display: inline-block;
  height: 100%;
  border-radius: 0 8px 8px 0;
  border: 1px solid grey;
  border-left: none;
  font-size: 1rem;
  color: $text-color;
  background-color: $color4;

  &:hover {
    background-color: scale-color($color4, $blackness: 5%);
  }
}

.friend {
  display: flex;
  flex-flow: row nowrap;
  background-color: $color5;
  border-radius: 8px;
  padding: 1rem;
  font-weight: bold;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  .friend-name {
    display: flex;
    flex: 1;
    align-items: center;
    margin: 0;
  }

  .friend-accept, .friend-remove {
    border: none;
    padding: .5rem 1rem;
    border-radius: 8px;
    color: white;
  }

  .friend-accept {
    @include button($color4);
    margin-right: .5rem;
  }

  .friend-remove {
    @include button($color1)
  }
}
