@import "_base";

$colors: $color1, $color2, $color3, $color4, $color5, $color6;

@mixin sym-1($color) {
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  background-color: $color;
}

@mixin sym-2($color) {
  @include sym-1($color);
  border-radius: 200000px;
}

@mixin sym-3($color) {
  @include sym-1($color);
  transform: rotate(45deg) scale(.75);
}

@mixin sym-4($color, $angle) {
  top: 20%;
  left: 40%;
  width: 20%;
  height: 60%;
  transform: rotate($angle);
  border-radius: 200000px;
  background-color: $color;
}

@mixin sym-5($color, $angle) {
  background-color: $color;
  top: 35%;
  left: 20%;
  width: 60%; 
  height: 30%;
  transform: rotate($angle) skewX(60deg) scale(.8);
}

@mixin sym-6($color) {
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  box-sizing: border-box;
  border: .5rem solid $color;
}

div.piece {
  position: absolute;
  display: inline-block;
  background-color: black;
  height: 5rem;
  width: 5rem;
}

div.piece.removeable {
  background-color: #444444;
};

div.piece.selected {
  // border: 3px solid red;
  transform: translateY(-.5rem);
}

div.piece::after, div.piece::before {
  content: '';
  position: absolute;
}

@for $color from 1 to 7 {
  div.piece.p1#{$color}::after {
    @include sym-1(nth($colors, $color));
  }

  div.piece.p2#{$color}::after {
    @include sym-2(nth($colors, $color));
  }

  div.piece.p3#{$color}::after {
    @include sym-3(nth($colors, $color));
  }

  div.piece.p4#{$color}::after {
    @include sym-4(nth($colors, $color), 0);
  }

  div.piece.p4#{$color}::before {
    @include sym-4(nth($colors, $color), 90deg);
  }

  div.piece.p5#{$color}::after {
    @include sym-5(nth($colors, $color), 30deg);
  }

  div.piece.p5#{$color}::before {
    @include sym-5(nth($colors, $color), 120deg);
  }

  div.piece.p6#{$color}::after {
    @include sym-6(nth($colors, $color));
  }
}
