@use "sass:math";
@import "_base";

.game-board {
  --offset-x: 0px;
  --offset-y: 0px;
  --scale: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  background: url('/sprites/board-tile.svg') repeat center;
  background-size: calc($tile-size * var(--scale)) calc($tile-size * var(--scale));
  background-position: calc(50% + calc(var(--scale) * var(--offset-x))) calc(50% + calc(var(--scale) * var(--offset-y)));

  .center-piece {
    position: absolute;
    width: $tile-size;
    height: $tile-size;
    top: calc(calc(calc(var(--vh) * 50) - math.div($tile-size, 2)));
    left: calc(calc(calc(var(--vw) * 50) - math.div($tile-size, 2)));
    transform-origin: calc(50% - var(--offset-x)) calc(50% - var(--offset-y));
    transform: translate(var(--offset-x), var(--offset-y)) scale(var(--scale));
  }
}