.game-board {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;

  .center-piece {
    --offset-x: 0px;
    --offset-y: 0px;
    --scale: 1;
    position: absolute;
    width: 5rem;
    height: 5rem;
    top: calc(calc(50vh - 2.5rem));
    left: calc(calc(50vw - 2.5rem));
    transform-origin: calc(50% - var(--offset-x)) calc(50% - var(--offset-y));
    transform: translate(var(--offset-x), var(--offset-y)) scale(var(--scale));
  }
}