@import "_base";

.loading-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);

  &.inline {
    position: static;
  }

  &::before {
    content: '';
    display: block;
    width: 5rem;
    height: 5rem;
    margin: 1rem auto;
    border-radius: 200000px;
    border: 3px solid transparent;
    border-left: 3px solid;
    animation: spinner .75s linear infinite forwards;
  }
}
