.rack {
  position: fixed;
  bottom: 1rem;
  height: 5rem;
  width: 30rem;
  left: calc(50vw - 15rem);

  .piece {
    position: relative;
    display: inline-block;
    transition: .25s transform;
  }

  .undo {
    position: absolute;
    top: .5rem;
    left: calc(100% + 1rem);
    width: 4rem;
    height: 4rem;
    background: black;
    color: white;
    &::after { content: 'undo' }
  }
}