button.placement {
  position: absolute;
  display: block;
  border: none;
  background-color: inherit;
  height: 5rem;
  width: 5rem;
  transition: .2s background-color;
  cursor: pointer;

  &:hover, &.hover {
    background-color: #555555;
  }
}
