@import "_base";

.scoreboard {
  position: absolute;
  right: 0;
  top: 100%;
  transform: translateY(-105%);
  background-color: #66666699;
  touch-action: none;
  pointer-events: none;
  user-select: none;
  z-index: -1;
  font-weight: normal;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.4);
  transition: transform .25s;

  table {
    border-collapse: collapse;
    display: inline-table;
  }

  thead tr {
    background-color: #38383899;
  }

  thead tr:first-child {
    background-color: #38383899;//#2f2f2f99;
  }

  th {
    font-weight: 500;
  }

  td, th {
    padding: .25rem .5rem;
  }

  td + td {
    text-align: right;
  }

  tr:not(:first-child) td {
    border-top: 1px solid #77777799;
  }
}

.scoreboard.show, :focus-visible > .scoreboard {
  transform: translateY(0);
}
