@import "_base";

.scoreboard {
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: .25rem .75rem;
  background-color: $color5;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;

  table {
    display: inline-table;
  }

  td:first-child, th:first-child {
    padding-right: .25rem;
  }

  td + td {
    text-align: right;
  }

  td {
    user-select: none;
  }
}

.dropdown {
  display: inline-block;
  margin-right: .25rem;

  &::before {
    content: '⯈';
    display: inline-block;
    transition: transform .1s; 
  }

  &.open::before {
    transform: rotate(90deg);
  }
}
