@import "_base";

.tile-counter {
  display: flex;
  position: fixed;
  left: 1rem;
  top: 5rem;
  height: 3rem;
  width: 3rem;
  justify-content: center;
  align-items: center;
  background-color: $color6;
  color: $text-color;
  border-radius: 8px;
  user-select: none;

  &:hover::after {
    content: 'How many tiles are left.';
    position: absolute;
    left: 4rem;
    white-space: nowrap;
    padding: .5rem;
    border-radius: 4px;
    background-color: #00000070;
    user-select: none;
  }

  &:hover::before {
    content: '';
    position: absolute;
    display: block;
    left: 3.75rem;
    height: .5rem;
    width: .5rem;
    transform: rotate(45deg);
    clip-path: polygon(0 0, 100% 100%, 0 100%);
    background-color: #00000070;
  }
}
